@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text: #1f2937;
  --border: #c1c5cb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.inputField {
  display: flex;
  color: var(--text);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  border: 1px solid var(--border);
  border-radius: 0.225rem;
}

.inputField:hover, .inputField:focus {
  background-color: #fbfcfd;
  outline: none;
}

label, .toggle-label {
  font-size: 0.775rem;
  color: var(--text);
}

video {
  margin: auto;
}

header a {
  font-size: .8rem;
  color: darkcyan;
  font-weight: 500;
  transition: ease-in 100ms;
}

header a:not(:last-child) {
  padding-right: 1rem;
}

@media (min-width: 460px){
  header a {
    font-size: 1rem;
    padding-right: 2rem;
  }
}

header a:hover {
  color: #026363;
}